<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="common/header_template">
<head>
    <meta charset="utf-8">
    <title>登录</title>
</head>

<body>
<div th:fragment="content">

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <form class="form-signin">
                    <div class="text-center mb-4">
                        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt=""
                             width="72" height="72">
                        <h1 class="h3 mb-3 font-weight-normal">登录</h1>
                    </div>

                    <div class="form-label-group">
                        <input type="email" id="inputEmail" class="form-control" placeholder="用户名" required=""
                               autofocus="">
                        <label for="inputEmail"></label>
                    </div>

                    <div class="form-label-group">
                        <input type="password" id="inputPassword" class="form-control" placeholder="密码"
                               required="">
                        <label for="inputPassword"></label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
                    <p class="mt-5 mb-3 text-muted text-center">© 2017-2018</p>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
