<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="common/header_template">
<head>
    <meta charset="utf-8">
    <title>登录</title>
</head>

<body>
<div th:fragment="content">
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link " href="#">总览</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">资料修改</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">申请提现</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">收支明细</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
</body>
</html>
